<div class="products-list-header">
  <div class="sort-add-buttons">
    <button class="sort-button">
      Sort By
      <select (change)="onSortChange($event)">
        <option value="update">Update Time</option>
        <option value="price">Price</option>
      </select>
    </button>
    <button *ngIf="isAdmin" class="add-product-button" (click)="addProduct()">
      Add Product
    </button>
  </div>
</div>
<div class="products-list">
  <div *ngFor="let product of sortedProducts | paginate: { itemsPerPage: itemsPerPage, currentPage: p }" class="product-item">
    <img [src]="product.imageUrl" alt="{{ product.name }}" *ngIf="product.imageUrl" class="product-image">
    <div (click)="viewProduct(product)">
      <h2>{{ product.name }}</h2>
      <div class="price">${{ product.price }}</div>
    </div>
    <div class="buttons">
      <button (click)="addToCart(product); $event.stopPropagation()">Add to Cart</button>
      <button *ngIf="isAdmin" class="edit-button" (click)="editProduct(product); $event.stopPropagation()">Edit</button>
    </div>
  </div>
</div>
<div class="pagination-wrapper">
  <pagination-controls (pageChange)="onPageChange($event)" class='pagination-controls'></pagination-controls>
</div>
