body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
}

.header-left .logo {
  font-size: 24px;
  font-weight: bold;
}

.header-middle {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 0 15px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  outline: none;
  height: 40px; /* 统一高度 */
  font-size: 16px; /* 统一字体大小 */
}

.search-button {
  padding: 0 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  outline: none;
  height: 40px; /* 统一高度 */
  font-size: 16px; /* 统一字体大小 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.sign-out-button, .cart-button {
  display: flex;
  align-items: center;
  padding: 0 15px;
  margin-left: 10px;
  border: none;
  background-color: #f8f9fa;
  color: #000;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  height: 40px; /* 统一高度 */
  font-size: 16px; /* 统一字体大小 */
}

.sign-out-button i, .cart-button i {
  margin-right: 8px;
  font-size: 16px;
}

.logo:hover {
  cursor: pointer;
}