<!-- product-form.component.html -->
<div class="product-form-container">
  <div class="product-form">
    <h2>Add New Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input id="name" formControlName="name" type="text">
      
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
      
      <label for="price">Price</label>
      <input id="price" formControlName="price" type="number">

      <label for="stock">Stock</label>
      <input id="stock" formControlName="stock" type="number">
      
      <!-- <label for="imageUrl">Image URL</label>
      <input id="imageUrl" formControlName="imageUrl" type="text"> -->
      
      <button type="submit" [disabled]="productForm.invalid">Add Product</button>
    </form>
  </div>
</div>
