<!-- cart.component.html -->
<div class="cart-wrapper">
  <div class="cart-container">
    <h1>Shopping Cart</h1>
    <div *ngFor="let item of cartItems">
      <div class="cart-item">
        <p *ngIf="item.product"> {{ item.product.name }}</p>
        <p>
          <input type="number" [value]="item.quantity" (input)="updateQuantity(item.product.id, $event)">
        </p>
        <p *ngIf="item.product"><strong>Price:</strong> {{ item.product.price | currency }}</p>
        <button *ngIf="item.product?.id !== undefined" (click)="removeFromCart(item.product.id!)">Remove</button>
      </div>
    </div>
    <div class="cart-summary">
      <p><strong>Total:</strong> {{ totalPrice | currency }}</p>
    </div>
  </div>
</div>



