<!-- cart.component.html -->
<div class="cart-wrapper">
  <div class="cart-container">
    <h1>Shopping Cart</h1>
    <div *ngFor="let item of cartItems">
      <div class="cart-item">
        <p *ngIf="item.product"> {{ item.product.name }}</p>
        <p>
          <input type="number" [value]="item.quantity" (input)="updateQuantity(item.id, $event)">
        </p>
        <p *ngIf="item.product"> {{ item.product.price | currency }}</p>
        <button *ngIf="item.id !== undefined" (click)="removeFromCart(item.id!)">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    </div>
    <div class="cart-summary">
      <p><strong>Total:</strong> {{ totalPrice | currency }}</p>
    </div>
    <button >Check Out</button>
  </div>
</div>



